:root {
    --highlight-color-header: #E0A449;
    --background-color: #f9f9f9;
    --text-color: #333;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

body,
#root,
.div-body-style {
    height: 1000px;
    margin: 0;
}

.div-body-style {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--text-color);
}

.header-contaner {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 10px 20px;
    font-size: 16px;
}

.header-left img {
    width: 30px;
    height: auto;
}

.header-left .logo-name {
    margin: 0 5px;
}

.highlight {
    color: var(--highlight-color-header);
}

.header-right {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
}

.header-right .nav-menu img {
    width: 20px;
    height: auto;
}

.nav-menu {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.link-style {
    display: flex;
    text-decoration: none;
    color: var(--background-color);
    align-items: center;
    margin-left: 15px;
}

.link-style img {
    margin-right: 8px;
}

.burger-menu {
    display: none;
}

.burger-menu img {
    width: 20px;
    height: auto;
}

.burger-list {
    display: none;
}

.burger-list ul {
    padding: 0;
    margin: 0;
}

.burger-list ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.burger-list ul li:first-child {
    margin-bottom: 10px;
}

.burger-logo {
    display: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger-list.open {
    display: block;

}

.burger-menu {
    justify-content: end;
    flex-wrap: wrap;
    width: 150px;
}

.burger-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 18px;
    cursor: pointer;
}

.burger-line {
    width: 100%;
    height: 2.5px;
    border-radius: 10px;
    background-color: #fff;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger-line.open:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
}

.burger-line.open:nth-child(2) {
    opacity: 0;
}

.burger-line.open:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
}

@media (max-width: 550px) {
    .nav-menu {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .burger-logo {
        margin-bottom: 15px;
    }
}